<h1>Resource list</h1>
 
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
	<th>Main skill</th>
	<th>Notice Period</th>
	<th>Salary expectation</th>
  </tr>
 
  <% @resources.each do |resource| %>
    <tr>
      <td><%= resource.id %></td>
      <td><%= resource.full_name %></td>
	  <td><%= resource.main_skill %></td>
	  <td><%= resource.notice_period %></td>
	  <td><%= resource.salary_expectation %></td>
	  <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
      <td><%= link_to 'Show', resource_path(resource) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_resource_url %></td>