<h1>Resource <%= @resource.id %></h1>

  <p>
    Full name: <%= @resource.full_name %>
  </p>
  
  <p>
    Contact email address <%= @resource.email %>
  </p>
  
  <p>
	Phone number<br>
    Contact phone number <%= @resource.phone %>
  </p>
  
 <p>
    Gender<br>
    This is a ...  <%= @resource.gender %>
  </p>
  <p>
    Main skill<br>
    He/She is a ... <%= @resource.main_skill %>
  </p>
  <p>
    Notice period<br>
    His/Her notice period is ... <%= @resource.notice_period %>
  </p> 
  <p>
    Salary expectation<br>
    His/Her expected salary is ... <%= @resource.salary_expectation %>
  </p> 
  
  <p>
    Free text description<br>
    Here are some additional words about him/her: <%= @resource.verbal_description %>
  </p> 
  