<h1>Position <%= @position.id %></h1>

  <p>
    Profile: <%= @position.profile %>
  </p>
  
  <p>
	UPSA project<%= @position.upsa_project %>
  </p>
  <p>
    Location <%= @position.location %>
  </p>
  
  <p>
    description <%= @position.description %>
  </p>
  
 <p>
    
    ClRefId  <%= @position.client_ref_id %>
  </p>
  <p>
    Sales level <%= @position.sales_level %>
  </p>
  <p>
    priority <%= @position.priority %>
  </p> 
  <p>
    Fill by <%= @position.fill_by %>
  </p> 
  <p>
    Status <%=(@position.positionStatus == nil)?"":@position.positionStatus.value %>
  </p> 
  <p>
    
    Main contact <%= @position.contact.full_name %>
  </p> 
  