
      <div class="page-header">
        <h1>Contacts</h1>
      </div>
	  
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
	<th>E-Mail</th>
	<th>Phone</th>	
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.full_name %></td>
	  <td><%= contact.email %></td>
	  <td><%= contact.phone %></td>
	  <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_contact_url %></td>