<h1>Contact <%= @contact.id %></h1>

  <p>
    Full name: <%= @contact.full_name %>
  </p>
  
  <p>
	Greeting: Hello <%= @contact.greeting %>, .... 
  </p>
  
  <p>
	Email <%= @contact.email %>
  </p>
  <p>
	Contact phone number <%= @contact.phone %>
  </p>
  
  <p>
	Likes <%= @contact.likes %>
  </p>

  <p>
	Dislikes <%= @contact.dislikes %>
  </p>
